.formulator_header {
    background: #313131;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 0px 20px;
}

.title{
    margin: 0 auto;
    height: 21px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;


    /* identical to box height */

    text-align: center;

    color: #DADADA;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
